/* src/pages/OverviewComputing.css */
.overview-container {
    padding: 1rem;
    background-color: #f9f9f9;
}

.overview-container2 {
    padding: 0.5rem;
    background-color: #e92222;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1.5rem;
    /* ⬅️ Espacio entre cada bloque */
    box-sizing: border-box;
    /* ⬅️ Corrige esto, el tuyo tiene error */
}

/* styles/panorama.css */
.panorama-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.panorama-section h1 {
    text-align: center;
}